.client-details-modal {
  table {
    border-collapse: collapse;
    width: 96%;
  }

  th,
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
  }

  .bold-text {
    font-weight: bold;
  }

}